body {
    background-color: rgb(245,245,245);
    font-family: 'Righteous', cursive;
    margin: 0;
}

header {
    margin-top: 3rem;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}
div.form-actions {
    text-align:center;
}
button[type=submit] {
    width: 50%;
    background-color: rgb(244, 117, 36);
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: 'Righteous', cursive;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.umm-bg1 {
    background-color: rgb(244, 117, 36);
}
.umm-bg {
    background: linear-gradient(135deg, rgb(244, 117, 36), rgb(254, 213, 99) );
}

img.logo {
    width: 50%;
    max-width: 400px;
}

.hidden {
    display: none;
}

img.center  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.presentation {
    width: 100%;
    max-width: 1400px;
    margin-bottom: 2rem;
}

/*
*== MENU ==
*/
.collapsible-menu{
    z-index: 99;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}


.menu {
    position: absolute;
    right: 12px;
    top: 5px;
    float: right;
    display: none;
    cursor: pointer;
    margin: 7px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(0,0,0,0.8);
    margin: 0px 0 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #FFF;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #FFF;
}

/*
*== MENU ==
*/

.nav-item:not(.active) > a:link,
.nav-item:not(.active) > a:visited {
    color: black;
    text-decoration: none;
}

.nav-item:not(.active) > a:hover,
.nav-item:not(.active) > a:active {
    color: grey;
    text-decoration: none;
}

.nav-item.active > a:link,
.nav-item.active > a:visited {
    color: white;
    text-decoration: none;
}
.nav-item.active > a:hover,
.nav-item.active > a:active {
    color: grey;
    text-decoration: none;
}

.nav-bar {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;
}

@media screen and (max-width: 769px) {
    body .nav-bar {
        flex-flow: column nowrap;
        padding: 1em;
        transition: max-height 0.4s ease-out;
        max-height:600px;
        transition: padding 0.4s ease-out;
    }
    .nav-item {
        flex-basis: 1.75rem;
    }
    .nav-bar.change {
        max-height:0;
        padding:0;
    }
    .menu {
        display: inline;
    }
}

/*
*== CONTAINER ==
*/

@media screen and (max-width: 769px) {
    .container {
        padding: 1rem 2rem 1rem 2rem
    }
}
@media screen and (min-width: 769px) {
    .container {
        padding: 1rem 4rem 1rem 4rem
    }
}
@media screen and (min-width: 993px) {
    .container {
        padding: 1rem 7rem 1rem 7rem
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 1rem 10rem 1rem 10rem;
    }
}



/*
*== EVENTS ==
*/

.event-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.event-item
{
    /*Appearance*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;

    height: 12em;

    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.event-date {
    left: 12px;
    top: 5px;
    position: absolute;
    font-size: 1.25em;
}
.event-place {
    bottom: 5px;
    position: absolute;
    font-size: 1em;
    text-align: right;
    width: 90%;
}
.event-title {
    font-size: 1.5em;
    text-align: center;
}

/*
*== LOGO ==
*/

a.umm-logo img {
    display:none;
    width: auto;
    height: 100%;
}

/*
*== FIELDS ==
*/
.fieldWrapper > div > label {
    margin-left: 4px;
}
.fieldWrapper {
    margin: 20px auto 20px auto;
}
.fieldWrapper>div>input {
    width: 100%;
}
.fieldWrapper>div>textarea {
    width: 100%;
}