<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'umm/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'umm/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"-->
          <!--integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'umm/umm.css' %}"/>

    <title>{% block title %}Harmonie de Maurage{% endblock %}</title>
</head>
<body>
<div class="collapsible-menu">
    <div class="menu" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-bar umm-bg change">
        <div class="nav-item {% block index_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:index' %}">Accueil <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">Qui sommes-nous ?</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">Agenda</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">Archives</a>
        </div>
        <div class="nav-item {% block email_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:email' %}">Contact</a>
        </div>
    </div>
</div>

<main class="container">
    <div>
        {% block body %}
        {% endblock %}
    </div>
</main>
<script>
function myFunction(x) {
    x.classList.toggle("change");
    document.querySelector('.nav-bar').classList.toggle('change');
}
</script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>-->
</body>
</html>
