<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="vhA_1x-6jFjo04JfJ-TtBDnKO8NgMQGrwbSDVUtGgxw" />
    {% load staticfiles %}
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'umm/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'umm/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'umm/umm.css' %}"/>

    <title>{% block title %}Harmonie de Maurage{% endblock %}</title>
</head>
<body>
<div class="collapsible-menu">
    <div class="menu" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-bar umm-bg1 change">
        <div class="nav-item {% block index_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:index' %}">Accueil <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item {% block who_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:who' %}">Qui sommes-nous ?</a>
        </div>
        <div class="nav-item {% block agenda_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:agenda' %}">Agenda</a>
        </div>
        <div class="nav-item {% block archives_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:archives' %}">Archives</a>
        </div>
        <div class="nav-item {% block contact_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'umm:contact' %}">Contact</a>
        </div>
        <div class="nav-item" >
            <i class="fa fa-child umm-icon"></i>
            {% if user.is_authenticated %}
            {{ user.username }}
            <a href="{% url 'umm:logout' %}">(Logout)</a>
            {% else %}
            <a href="{% url 'umm:login' %}">Login</a>
            {% endif %}
        </div>
        {% if perms.umm.send_email %}
        <div class="nav-item" >
            <i class="fa fa-envelope umm-icon"></i>
            <a class="nav-link" href="{% url 'umm:email_members' %}">Email membres</a>
        </div>
        {% endif %}
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.3"></script>

<header class="">
    <img class="center logo" src="{%  static 'umm/logo.svg' %}" alt="">
</header>
<main class="container">
    <div>
        {% block body %}
        {% endblock %}
    </div>
</main>
<footer class="hidden">
    <img class="center" src="{%  static 'umm/logo.svg' %}" alt="">
</footer>
<script>
function myFunction(x) {
    x.classList.toggle("change");
    document.querySelector('.nav-bar').classList.toggle('change');
}
{% block script %}
{% endblock %}
</script>
</body>
</html>
