{% extends 'umm/base.html' %}
{% block email_active %}active{% endblock %}

{% block body %}
<h1>Contactez-nous</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <div>
            {{ form.given_name.errors }}
        </div>
        <div>
            {{ form.given_name.label_tag }}
        </div>
        <div>
            {{ form.given_name }}
        </div>
    </div>
    <div class="fieldWrapper">
        <div>
            {{ form.name.errors }}
        </div>
        <div>
            {{ form.name.label_tag }}
        </div>
        <div>
            {{ form.name }}
        </div>
    </div>
    <div class="fieldWrapper">
        <div>
            {{ form.from_email.errors }}
        </div>
        <div>
            {{ form.from_email.label_tag }}
        </div>
        <div>
            {{ form.from_email }}
        </div>
    </div>
    <div class="fieldWrapper">
        <div>
            {{ form.subject.errors }}
        </div>
        <div>
            {{ form.subject.label_tag }}
        </div>
        <div>
            {{ form.subject }}
        </div>
    </div>
    <div class="fieldWrapper">
        <div>
            {{ form.message.errors }}
        </div>
        <div>
            {{ form.message.label_tag }}
        </div>
        <div>
            {{ form.message }}
        </div>
    </div>
    <div class="form-actions">
      <button type="submit">Envoyer</button>
    </div>
</form>
{% endblock %}
