{% extends 'umm/base.html' %}

{% block body %}
<h1>Envoyer un message aux membres de l'harmonie</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <div>
            {{ form.subject.errors }}
        </div>
        <div>
            {{ form.subject.label_tag }}
        </div>
        <div>
            {{ form.subject }}
        </div>
    </div>
    <div class="fieldWrapper">
        <div>
            {{ form.message.errors }}
        </div>
        <div>
            {{ form.message.label_tag }}
        </div>
        <div>
            {{ form.message }}
        </div>
    </div>
        <div class="fieldWrapper">
        <div>
            {{ form.recipients.errors }}
        </div>
        <div>
            {{ form.recipients.label_tag }}
        </div>
        <div class="buttonGroup">
            <button type="button" onclick="manageRecipients('Unselect')">Tout désélectionner</button>
            <button type="button" onclick="manageRecipients('Invert')">Inverser la sélection</button>
            <button type="button" onclick="manageRecipients('Select')">Tout sélectionner</button>
        </div>

        <div class="recipients">
            {% for recip in form.recipients %}
            <div>
                {{ recip }}
            </div>
            {% endfor %}
        </div>
        <div class="buttonGroup">
            <button type="button" onclick="manageRecipients('Unselect')">Tout désélectionner</button>
            <button type="button" onclick="manageRecipients('Invert')">Inverser la sélection</button>
            <button type="button" onclick="manageRecipients('Select')">Tout sélectionner</button>
        </div>
    </div>
    <div class="form-actions">
      <button type="submit">Envoyer</button>
    </div>
</form>
{% endblock %}

{% block script %}
function manageRecipients(mode){
    document.querySelectorAll('[id^="id_recipients_"]').forEach( (checkbox) => {
        switch (mode) {
            case 'Unselect':
                checkbox.checked = checkbox.checked = false;
                break;
            case 'Invert':
                checkbox.checked = !checkbox.checked;
                break;
            case 'Select':
                checkbox.checked = checkbox.checked = true;
                break;
            default:
                break;
        }

    });
}
{% endblock %}
