<a href="{% url 'umm:detail_event' event.id %}">
<div class="event-item umm-bg">
    <div class="event-date">
        <i class="fa fa-calendar-alt umm-icon"></i>
        {{ event.date }}<br>  <span></span>{% if event.time_begin %} <i class="fa fa-clock umm-icon"></i> {{event.time_begin }} {% endif %}
    </div>
    <div class="event-title">
        {{ event.title }}<br>
        {{ event.place.title }}
    </div>
    <div class="event-place">
        <i class="fa fa-map-marker-alt umm-icon"></i>
        {{ event.place.town }}
    </div>
</div>
</a>