{% extends 'umm/base.html' %}
{% load staticfiles %}
{% block index_active %}active{% endblock %}
{% block body %}
<img class="center presentation" src="{%  static 'umm/umm3.jpg' %}" alt="">

<p>L'Union Musicale Maurageoise est un orchestre d'harmonie principalement actif dans la région du Centre, dans le Hainaut.</p>
<p>Nous intégrons des musiciens de tout âge, amateurs ou professionnels.</p>
<p>Nos répétitions ont lieu dans l'ancien hôtel de ville de Maurage, le vendredi soir, de 19h30 à 21h30.</p>


{% if future_events %}
<h1>Les prochains événements</h1>
<div class="event-container">
    {% for event in future_events %}
    {% include "umm/event-item.html" with event=event%}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
