{% extends 'umm/base.html' %}
{% load staticfiles %}
{% block index_active %}active{% endblock %}
{% block body %}
<img class="center presentation" src="{%  static 'umm/umm3.jpg' %}" alt="">

<p>L'Union Musicale Maurageoise est un orchestre d'harmonie principalement actif dans la région du Centre, dans le Hainaut.
 Nous intégrons des musiciens de tout âge, amateurs ou professionnels. Nos répétitions ont lieu à Maurage, le vendredi soir.</p>


{% if future_events %}
<h1>Les prochains événements</h1>
<div class="event-container">
    {% for event in future_events %}
    <div class="event-item umm-bg">
        <div class="event-date">
            <i class="fa fa-calendar-alt umm-icon"></i>
            {{ event.date }}<br>  <span></span>{% if event.time_begin %} <i class="fa fa-clock umm-icon"></i> {{event.time_begin }} {% endif %}
        </div>
        <div class="event-title">
            {{ event.title }}<br>
            {{ event.place.title }}
        </div>
        <div class="event-place">
            <i class="fa fa-map-marker-alt umm-icon"></i>
            {{ event.place.town }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
