{% extends 'umm/base.html' %}
{% block who_active %}active{% endblock %}

{% block body %}
<h1>Qui sommes-nous ?</h1>

<p>Fondée en 1966 par Adolphe Laperteaux au départ des effectifs issus de la défunte Fanfare Ouvrière et de l’Harmonie des Charbonnages, l’Union Musicale Maurageoise est reconnue par les « tournées Art et Vie », membre de l’Union des Sociétés Musicales de la Fédération Wallonie-Bruxelles ainsi que de la Fédération Musicale du Hainaut.</p>

<p>Dirigée successivement par Roger Durand, Etienne Laperteaux, Freddy Dussenwart et Frédéric Charles, elle se produit actuellement sous la baguette de Fabienne Dussenwart.</p>

<p>Beaucoup de jeunes musiciens participent au développement de l’Union Musicale Maurageoise, ils sont, pour la plupart, élèves des académies environnantes.</p>

<p>L’Union Musicale Maurageoise met tout en œuvre pour varier le répertoire et les projets.</p>

<p>Actuellement, outre le fait d’assurer les prestations habituelles, l’U.M.M. met un point d’honneur à créer régulièrement des spectacles pluridisciplinaires à thèmes dans lesquels interviennent danse, chœurs et comédiens.</p>

{% endblock %}
