{% extends 'umm/base.html' %}
{% block who_active %}active{% endblock %}

{% block body %}
<h1>Qui sommes-nous ?</h1>

<p class="">Nullam sed risus ac lorem venenatis iaculis. Suspendisse potenti. Etiam ultricies orci justo, et consectetur risus lacinia id. Maecenas pellentesque nisl in ante imperdiet, sed euismod lorem vehicula. Nam consectetur non felis eu accumsan. Ut sapien mi, iaculis at bibendum sed, molestie vel libero. Nulla fringilla sodales tempus.</p>

<p class="">Phasellus vulputate pellentesque lacus a ultrices. Proin pretium, purus at posuere placerat, turpis quam pretium nisi, vitae aliquam massa nulla et turpis. Sed vel tempor augue. Nam at nisl sit amet tellus hendrerit euismod ut ac tortor. Vestibulum eros mi, tempor at libero vitae, vulputate vehicula ipsum. Vivamus condimentum, magna non pellentesque aliquam, sapien eros pulvinar sapien, non vulputate leo nibh vitae est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In est sapien, fringilla et tincidunt vitae, iaculis sed quam. Mauris id finibus sapien, eu efficitur elit. Mauris lacus urna, sagittis eu tellus vitae, dignissim faucibus lorem.</p>

<p class="">Vivamus aliquet eu mi in aliquam. Sed iaculis ultrices ante vel cursus. Pellentesque vulputate purus non neque gravida, et tincidunt magna elementum. Donec tincidunt tellus odio, vel rhoncus neque luctus ac. In congue lectus ac sem euismod tincidunt. Ut ullamcorper purus vitae urna dignissim aliquam. Vestibulum lobortis sem et porttitor semper. Aliquam sit amet libero diam. Nam mauris ipsum, hendrerit a euismod vel, sodales in justo. Vivamus rutrum auctor tincidunt. Proin varius, sapien et finibus cursus, elit sem pretium metus, ornare ultrices odio tortor sit amet lectus. Phasellus urna libero, tristique quis quam vel, fringilla egestas ex.</p>

{% endblock %}
